body {
  font-family: Arial;
}

nav li:hover a {
  background-color: #344350;
}

.card-text {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.col {
  margin-bottom: 5px;
}

.card {
  width: 200px;
  height: 370px;
}

.card-img-top {
  height: 300px;
}

.container-md {
  background-color: #fff5f5;
}

.navbar-toggler-icon {
  height: 1em;
  margin-top: -7px;
}

label {
  padding-top: 10px;
  color: white;
}

.container-sm {
  color: white;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  width: 480px;
  background-color: #344350;
}

input {
  font-weight: bold;
  width: 200px;
  margin-top: 5px;
  background-color: #344350;
  border: 0px;
  padding-left: 5px;
  color: white;
}

select {
  border: 0px;
  background-color: #344350;
  color: white;
  font-weight: bold;
}

button {
  height: 25px;
  border: 0px;
  margin-top: 10px;
  padding: 0px 5px;
  border-radius: 2px;
  color: white;
}

#tombol {
  height: 30px;
  margin: auto 0px;
  padding: 2px 10px;
}

.tombol_kursi button {
  width: 35px;
  background-color: white;
  color: black;
}

.input_keterangan p {
  text-align: center;
  font-weight: bold;
}

footer {
  font-family: sans-serif;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  color: white;
  background-color: #2c3741;
  font-weight: lighter;
  margin: 0px -12px;
}
